element.style {
    opacity: 0.57;
    background-color: rgb(255 255 255);
}

.st-emotion-cache-1l13h6g {
    min-height: 0px;
    padding: 0rem 0rem;

}

.st-emotion-cache-1j9a82x {
    gap: 0rem;
}


[_nghost-ng-c2003291358] {
    display: flex;
    position: absolute;
    height: 0px;
    width: 100%;
    bottom: 0;
    background: #ffffff;
    justify-content: space-between;
}

.st-emotion-cache-eczf16 {
    position: absolute;
    margin-right: 0.5rem;
    line-height: 0;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transform: scale(0);
    transition: opacity 300ms ease 150ms, transform 300ms ease 150ms;
    opacity: 0;
    height: 0rem;
    width: 0rem;
    z-index: 101;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.st-emotion-cache-shbelf {
    display: inline-flex;
    padding: 0rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 0px;
    margin: 0px;
    line-height: 1.6;
}

.st-emotion-cache-1ccyijd {
    gap: 0rem;
}

.st-emotion-cache-f6bu01 {
    gap: 0rem;
}

.st-emotion-cache-pm5t7y {
    gap: 0rem;
}

.st-emotion-cache-1e3wl72 {
    gap: 0rem;
}

.st-br {
    padding-bottom: 0.3rem;
}

.st-bq {
    padding-top: 0rem;
}

.st-emotion-cache-1ln2a99 {
    gap: 0rem;
}

.st-emotion-cache-auotaw {
    gap: 0rem;
}

.st-emotion-cache-v7bbax {
    gap: 0rem;
}

.st-emotion-cache-1tca5hb {
    gap: 0rem;
}

.st-emotion-cache-10y5sf6 {
    color: rgb(26 24 24);
}

.st-emotion-cache-1vzeuhh {
    background-color: rgb(110 117 131);

}

.st-emotion-cache-1hxn47e {
    display: inline-flex;
    padding: 0rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 0px;
    margin: 0px;
    line-height: 1.6;

}


.st-emotion-cache-1v7gdbf {
    display: inline-flex;
    padding: 0rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 0px;
    margin: 0px;
    line-height: 1.6;

}

.st-emotion-cache-1umgz6k {
    display: inline-flex;
    padding: 0rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 0px;
    margin: 0px;
    line-height: 1.6;

}

.st-emotion-cache-zsoog7 {
    gap: 0rem;
}

.st-emotion-cache-d23ron {
    gap: 0rem;
}

.st-emotion-cache-135105r {
    gap: 0rem;
}

.st-emotion-cache-3ai54q {
    gap: 0rem;
}

.st-emotion-cache-1sacife {
    gap: 0rem;
}

.st-emotion-cache-r95moa {
    gap: 0rem;
}

.st-emotion-cache-1vw28oz {
    gap: 0rem;
}

.st-emotion-cache-1iy4dal {
    gap: 0rem;
}

.st-emotion-cache-vqpk0x {
    gap: 0rem;
}

.st-emotion-cache-lxk9c3 {
    gap: 0rem;
}

.st-emotion-cache-v09qz {
    gap: 0rem;
}

.st-emotion-cache-1irstbu {
    gap: 0rem;
}

.appview-container .main .block-container {
    padding-top: 0rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0rem;
}

.st-emotion-cache-4s7fiu {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding: 0rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 0px;
    line-height: 1.6;
    color: inherit;
    width: 36.5469px;
    user-select: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(49, 51, 63, 0.2);
}

html {
    font-size: 14px;
}

.st-emotion-cache-7ym5gk {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 0px;
    margin: 0px;
    line-height: 01;
    color: inherit;
    width: auto;
    user-select: none;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgba(49, 51, 63, 0.2);
}

.st-b7 {
    background-color: rgb(248, 249, 251);
}


.st-b6 {
    border-bottom-color: rgb(12 12 12);
}

.st-b3 {
    border-left-color: rgb(12 12 12);
}

.st-emotion-cache-dvne4q {
    padding: 1rem 1.5rem;
}

.st-emotion-cache-144mis {
    position: relative;
    top: 0px;
    background-color: rgb(234 234 234);
    z-index: 999991;
    min-width: 150px;
    max-width: 150px;

}
.st-emotion-cache-1gv3huu {
    position: relative;
    top: 0x;
    background-color: rgb(234 234 234);
    z-index: 999991;
    min-width: 244px;
    max-width: 250px;

}

.st-emotion-cache-124fx4h {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding: 0rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 0px;
    margin: 0px;
    line-height: 1.6;
    color: inherit;
    width: 100%;
    user-select: none;
    background-color: rgb(249, 249, 251);
    border: 1px solid rgba(49, 51, 63, 0.2);
}



